<h1>You played scissors!</h1>

<a href="http://localhost:3000/rock">Go play rock!</a>
<a href="http://localhost:3000/paper">Go play paper!</a>

<h1>
  The computer played

  <%= @computer_move %>
</h1>
 You <%= @outcome %>
</h1>
