<h1>You played paper!</h1>

<a href="http://localhost:3000/scissors">Go play scissors!</a>
<a href="http://localhost:3000/rock">Go play rock!</a>

<h1>
  The computer played

  <%= @computer_move %>
</h1>
 You <%= @outcome %>
</h1>
